.search-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.search-container mat-form-field {
  width: 45%;
  margin: 0 10px;
}

.table-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.centered-table {
  width: 100%;
}

.table-scroll {
  overflow-x: auto;
  width: 100%;
}

.mat-table {
  min-width: 600px; /* Można dostosować minimalną szerokość tabeli */
  width: 100%;
}

.mat-cell, .mat-header-cell {
  min-width: 150px; /* Minimalna szerokość komórki */
}

.centered-header {
  text-align: center;
}

.centered-cell {
  text-align: center;
}

.paginator-container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.mat-paginator {
  width: auto;
}

::ng-deep .mat-sort-header-container {
  justify-content: center;
}
