
<div class="search-container">
  <mat-form-field>
    <input matInput placeholder="Adres" [(ngModel)]="addressInput" (keyup.enter)="applyFilter()">
  </mat-form-field>
  <mat-form-field>
    <mat-select disableOptionCentering placeholder="Województwo" [(ngModel)]="selectedState">
      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button (click)="applyFilter()">
    <mat-icon>search</mat-icon>
  </button>
</div>

<app-table
           [displayedColumns]="displayedColumns"
           [dataSource]="dataSource"
           [menu]="menu"
           (reloadData)="loadData()"
           ></app-table>


  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>open_in_new</mat-icon>
      <span>Open risk plan</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>delete</mat-icon>
      <span>Delete questionnairre</span>
    </button>
  </mat-menu>
