
<div class="search-container">
  <mat-form-field>
    <mat-label>Wyszukaj</mat-label>
    <input #filterInput matInput (keyup)="onFilterChange($event)" placeholder="Wpisz, aby wyszukać">
  </mat-form-field>
  <mat-form-field>
    <mat-label>Województwo</mat-label>
    <mat-select (selectionChange)="applyStateFilter($event.value)" [(value)]="selectedState">
      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
    </mat-select>
  </mat-form-field>
</div>

<app-table
           [displayedColumns]="displayedColumns"
           [dataSource]="dataSource"
           [menu]="menu"
           (reloadData)="loadData()"
           ></app-table>


  <mat-menu #menu="matMenu">
    <button mat-menu-item>
      <mat-icon>open_in_new</mat-icon>
      <span>Open risk plan</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>delete</mat-icon>
      <span>Delete questionnairre</span>
    </button>
  </mat-menu>
