<div class="radio-buttons">
  <mat-radio-group [(ngModel)]="selectedStatus" color="primary" aria-label="Wybierz status">
    <mat-radio-button value="1">Wszystkie</mat-radio-button>
    <mat-radio-button value="2">Dodane przez mnie</mat-radio-button>
    <mat-radio-button value="3">Dołączono</mat-radio-button>
  </mat-radio-group>
</div>

<div class="search-container">
  <mat-form-field>
    <input matInput placeholder="Adres" [(ngModel)]="addressInput" (keyup.enter)="applyFilter()">
  </mat-form-field>
  <mat-form-field>
    <mat-select disableOptionCentering placeholder="Województwo" [(ngModel)]="selectedState">
      <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
    </mat-select>
  </mat-form-field>
  <button mat-icon-button (click)="applyFilter()">
    <mat-icon>search</mat-icon>
  </button>
</div>

<app-table [displayedColumns]="displayedColumns"
           [dataSource]="dataSource"
           [currentElementTools]="currentElementTools"
           (reloadData)="loadData()"
           (reloadElementMenu)="reloadElementMenu($event)"></app-table>

