<mat-card>
  <form [formGroup]="activityForm" (ngSubmit)="onSubmit()">

    <mat-form-field appearance="fill">
      <mat-label>Data</mat-label>
      <input matInput formControlName="date" type="datetime-local" placeholder="start date">
      <mat-error *ngIf="activityForm.get('date')!.invalid">{{ errorMessageService.getErrorMessage(activityForm, 'date') }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Opis wydarzenia</mat-label>
      <textarea matInput formControlName="description" required></textarea>
      <mat-error *ngIf="activityForm.get('description')!.invalid">{{ errorMessageService.getErrorMessage(activityForm, 'description') }}</mat-error>
    </mat-form-field>

    <div formGroupName="address">
      <h3>Adres</h3>

      <input formControlName="osmId" type="hidden">

      <mat-form-field appearance="fill" *ngIf="!activityForm.get('address.osmId')!.value">
        <mat-label>Wyszukaj adres</mat-label>
        <input matInput appDebounceClick [(ngModel)]="searchInput" [ngModelOptions]="{standalone: true}" (debounceClickOrPress)="findAddress($any($event))">
        <button mat-icon-button matSuffix appDebounceClick type="button" (debounceClickOrPress)="findAddress(null)">
          <mat-icon>search</mat-icon>
        </button>
      </mat-form-field>

      <mat-form-field appearance="fill" *ngIf="this.displayAddress">
        <mat-label>Wybrany adres</mat-label>
        <textarea class="disabled-input" matInput [(ngModel)]="displayAddress" [ngModelOptions]="{standalone: true}" readonly></textarea>
        <button mat-icon-button matSuffix (click)="removeAddress()">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-form-field>

    </div>
    <button mat-raised-button color="primary" type="submit">Dodaj nowe wydarzenie</button>
  </form>
</mat-card>
