<div class="event-detail" *ngIf="activity$ | async as activity">
  <h2>{{ activity.title }}</h2>
  <p>{{ activity.description }}</p>
  <p>{{ activity.date | date : "dd-MM-YYYY hh:mm:ss" }}</p>
</div>

<h3>Wiadomości</h3>
<div *ngFor="let comment of comments$ | async" class="comment">

  <div class="comment-part">
    <strong>{{ comment.userName }}</strong>
  </div>
  <div class="comment-part">
    <small>{{ comment.date }}</small>
  </div>
  <div *ngIf="userName === comment.userName" class="comment-part tools">
    <mat-icon color="primary" matTooltip="Edytuj" (click)="edit()">edit</mat-icon>
    <mat-icon color="primary" matTooltip="Usuń" (click)="delete(comment.id)">delete</mat-icon>
  </div>

  <p>{{ comment.content }}</p>
</div>

<div class="add-comment">
  <mat-form-field appearance="fill">
    <mat-label>Napisz komentarz</mat-label>
    <textarea matInput appDebounceClick [eventName]="'keydown.enter'" (debounceClickOrPress)="addComment()" [(ngModel)]="commentInput"></textarea>
  </mat-form-field>
  <a mat-raised-button color="primary" appDebounceClick (debounceClickOrPress)="addComment()">Wyślij</a>
</div>
