<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="!(isHandset$ | async)" class="sidenav" *ngIf="isHandset$ | async">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item routerLink="/">Strona główna</a>
      <a mat-list-item routerLink="event-form">Dodaj wydarzenie</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="toggleSidenav()" *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <span>Activity Finder</span>
      <span class="spacer"></span>
      <ng-container *ngIf="!(isHandset$ | async)">
        <a mat-button routerLink="/">Strona główna</a>
        <a mat-button routerLink="event-form">Dodaj wydarzenie</a>
      </ng-container>
    </mat-toolbar>

    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
