.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 250px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.content {
  padding: 16px;
  text-align: center;
}

.spacer {
  flex: 1 1 auto;
}

@media (max-width: 600px) {
  .sidenav {
    width: 200px;
  }
}

mat-nav-list.list-horizontal {
  padding: 0;
  .mat-list-item{
  display: inline-block;
  height: auto;
  width: auto;
  color: white;
  }
}
