<mat-toolbar color="primary">
  <a class="title">Activity Finder</a>
  <span class="spacer"></span>
  <mat-tab-group>
    <mat-tab label="Tab 1">
      <ng-template mat-tab-label>
        <mat-icon class="white-text" routerLink="/">home</mat-icon>
        <span class="white-text" routerLink="/">Home</span>
      </ng-template>
    </mat-tab>
    <mat-tab label="Tab 2">
      <ng-template mat-tab-label>
        <mat-icon class="white-text" routerLink="event-form">add</mat-icon>
        <span class="white-text" routerLink="event-form">Dodaj nowe wydarzenie</span>
      </ng-template>
    </mat-tab>
  </mat-tab-group>
</mat-toolbar>

<router-outlet></router-outlet>
